---
const siteTitle = import.meta.env.SITE_TITLE;
---
<header>
    <h1><a href="/">{siteTitle}</a></h1>
    <p>{siteTitle}は波野の個人サイトです。</p>
    <div class="nav-links">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/blog/">blog</a>
    </div>
</header>