---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
const siteTitle = import.meta.env.SITE_TITLE;
---
<header>
    <h1><a href="/">{siteTitle}</a></h1>
    <p>{siteTitle}は波野の個人サイトです。</p>
    <Hamburger />
    <Navigation />
</header>