---
import BlogLayout from "./BlogLayout.astro";

const { frontmatter } = Astro.props;
---
<style>
	.publish-date {
		font-size: 2rem;
		color: gray;
	}

	h2 {
		text-align: center;
	} 

	img.article-image {
		width: 400px;
	}
</style>

<BlogLayout pageTitle={frontmatter.title}>
	<p class="publish-date">{frontmatter.pubDate.slice(0, 10)}</p>
	<h2>{frontmatter.title}</h2>
	<img class="article-image" src={frontmatter.image.url} alt={frontmatter.image.alt} />
	<slot />
</BlogLayout>